@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.container{
    /* border: 2px solid ; */
    width: 800px ;
    height: 500px;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 0 5px  #618b62;
}
#taskContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;

}
.hidden {
    display: none !important;
}
h2{
    font-size: 70px;
    color: #57b770;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
}

#userInput{
    color:#b4b221;
    font-size: 30px;
    border-radius: 20px;
    border: 2px solid rgb(158 180 66 / 69%);
    outline: none;
    margin-right: 25px;
    padding: 0 10px;
    font-family: "Macondo", cursive;
    width: 80%;

}

#Submit{
    font-size: 30px;
    border-radius: 30px;
    padding: 0 20px;
    font-family: "Macondo", cursive;
    color: #fff; 
    outline: none;
    border: none;
    background: #1b541ac9;
    cursor: pointer;
}
#Checkbox{
    background-color: #4caf50;
    border-color: #4caf50;
    width: 25px;
    border-radius: 50%;
}
p{
    font-family: "Macondo", cursive;
    font-size: 30px ;
    margin: 0;
    text-decoration: line-through;
    text-decoration-color: red;
}
#Delete{
    font-size: 30px;
    border-radius: 30px;
    padding: 0 20px;
    font-family: "Macondo", cursive;
    color: #fff; 
    outline: none;
    border: none;
    background: #1b541ac9;
}

.box{
    height: 25px;
    width: 25px;
    border-radius: 50%; 
    background: #4b784a;
}

.outter{
    padding: 3px;
    border-radius: 50%;
    border:3px solid rgb(188 203 125);
    animation: grow 0.5s;
}

@keyframes grow{
    50%{
        scale: 1.4;
    }
}