@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Qwitcher+Grypen:wght@400;700&display=swap');

.container{
    border: 2px solid ;
    width: 500px ;
    height: 500px;
    margin: 0 auto;
    align-content: center;
    text-align: center;
}
.task{
    display: flex;
    justify-content: center;
}
h2{
    font-size: 70px;
    color: #57b770;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
}